html, body {
	margin: 0;
	padding: 0;
}

.layout {
	text-align: center;
	font-family: sans-serif;
}

#top {
	margin: 25px auto;
	width: 960px;

	text-align: left;
}

#main {
	margin: 25px auto;
	width: 960px;

	border: 1px solid #ccc;
	background: beige;
}

.graph {
	float:left;
	margin: 25px 0 0 25px;
	border: 1px solid #999;
	background: #fafafa;
}
.graph.full {
	width: 933px;
}
.graph.half {
	width: 451px;
}
.graph.thir {
	width: 289px;
}

.graph-title {
	font-weight: bold;
	font-size: 125%;
}
.graph-body {
	background: #fafafa;
}
.graph-controls {
	border: solid #ccc;
	border-width: 1px 0 0 0;
	margin-top: 3px;
	padding: 5px;
	min-height: 25px;
	text-align: right;
	background: #eee;

}
.graph-controls label {}

#log {
	margin: 25px auto;
	width: 960px;

	border: 1px solid #ccc;
	background: #fafafa;
}
.log-message {
	padding: 2px;
	text-align: left;
	font-size: 0.90em;
	line-height: 1em;
}
.log-message:hover {
	background: #ecfaec;
}
.log-message.info {
	color: #669;
}
.log-message.warn {
	color: #f80;
}
.log-message.error {
	color: #900;
}
.log-message.system {
	color: #999;
}
.log-message-time {
	color: #999;
	font-size: 0.70em;
	font-weight: bold;
	vertical-align: top;
	text-decoration: underline;
}
.log-message-text {
	font-style: italic;
}

.template {
	display: none;
}

.clr {
	clear: both;
}

/* forms */
form {

}
form table {
	text-align: left;
}
form table tr {

}
form table tr th {
	vertical-align: top;
	font-weight: normal;
}
form table tr th.caption {
	padding: 3px 5px;
}
form table tr td {

}

form label {
	padding-left: 5px; padding-right: 5px;
	font-size: 80%;
}

form.component {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ccc;
}

form .caption {
	font-weight: bold;
	background: #99e;
}

/* graphs */
.dygraph-legend {

}

/* misc */
.lft {float: left;}
.rgt {float: right;}
.clr {clear:both;}
