html, body {
	margin: 0;
	padding: 0;
}

.layout {
	text-align: center;
	font-family: sans-serif;
}

#main {
	margin: 25px auto;
	width: 960px;

	border: 1px solid #ccc;
	background: beige;
}

.graph {
	float:left;
	margin: 25px 0 0 25px;
	border: 1px solid #999;
}
.graph.full {
	width: 933px;
}
.graph.half {
	width: 451px;
}
.graph.thir {
	width: 289px;
}

.graph-title {
	font-weight: bold;
	font-size: 125%;
}
.graph-body {}
.graph-controls {}

#log {
	margin: 25px auto;
	width: 960px;

	border: 1px solid #ccc;
	background: #fafafa;
}
.log-message {
	padding: 2px;
	text-align: left;
	font-size: 1em;
	line-height: 1em;
}
.log-message:hover {
	background: #ecfaec;
}
.log-message.info {
	color: #669;
}
.log-message.error {
	color: #900;
}
.log-message-time {
	color: #999;
	font-size: 0.70em;
	font-weight: bold;
	vertical-align: top;
	text-decoration: underline;
}
.log-message-text {
	font-style: italic;
}

.template {
	display: none;
}

.clr {
	clear: both;
}
